* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
.app-wrapper {
  width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 60px auto;
  grid-template-columns: 2fr 12fr;
  gap: 1rem;
  grid-template-areas:
    "header header header"
    "nav content content";
}
.header {
  background-color: bisque;
  grid-area: header;
}
.header img {
  width: 50px;
}
.nav {
  grid-area: nav;
  background-color: brown;
}
.content {
  grid-area: content;
  background-color: cornflowerblue;
}
